eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8090/eureka/
server:
  port: 8087
spring:
  application:
    name: zuul-service
zuul:
  host:
    connect-timeout-millis: 60000 #HTTP连接超时要比Hystrix的大
    socket-timeout-millis: 60000   #socket超时
  routes:
    api-a:
      path: /api-a/**
      serviceId: approval-server
    api-b:
      path: /api-b/**
      serviceId: authentication-server
    api-c:
      path: /api-c/**
      serviceId: message-server

ribbon:
  ReadTimeout: 60000
  ConnectTimeout: 60000

      
